<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <translate.listingPriceToEntity>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Prices.TranslateListingPriceToEntity, Sitecore.Commerce.Connect.DynamicsRetail">
          <param ref="entityFactory" />
        </processor>
      </translate.listingPriceToEntity>
      
      <commerce.prices.getProductPrices>
         <processor type="Sitecore.Commerce.Pipelines.Prices.GetProductPrices.GetProductPrices, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.GetProductPrices, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Prices.GetProductPrices, Sitecore.Commerce.Connect.DynamicsRetail"/>
      </commerce.prices.getProductPrices>

      <commerce.prices.getProductBulkPrices>
       <processor type="Sitecore.Commerce.Pipelines.Prices.GetProductBulkPrices.GetProductBulkPrices, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Catalog.Pipelines.GetProductBulkPrices, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Prices.GetProductBulkPrices, Sitecore.Commerce.Connect.DynamicsRetail"/>
      </commerce.prices.getProductBulkPrices>
    </pipelines>
  </sitecore>
</configuration>