<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commerce.Entities>
      <ShippingInfo>
        <patch:attribute name="type">Sitecore.Commerce.Connect.DynamicsRetail.Entities.Carts.CommerceShippingInfo, Sitecore.Commerce.Connect.DynamicsRetail</patch:attribute>
      </ShippingInfo>
    </commerce.Entities>

    <pipelines>
      <translate.shoppingCartToEntity>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Carts.TranslateShoppingCartToEntity, Sitecore.Commerce.Connect.DynamicsRetail">
          <param ref="entityFactory" />
        </processor>
      </translate.shoppingCartToEntity>

      <translate.entityToShoppingCart>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Carts.TranslateEntityToShoppingCart, Sitecore.Commerce.Connect.DynamicsRetail"/>
      </translate.entityToShoppingCart>

      <translate.entityToShoppingCartItem>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Carts.TranslateEntityToShoppingCartItem, Sitecore.Commerce.Connect.DynamicsRetail"/>
      </translate.entityToShoppingCartItem>

      <translate.shoppingCartItemToEntity>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Carts.TranslateShoppingCartItemToEntity, Sitecore.Commerce.Connect.DynamicsRetail">
          <param ref="entityFactory" />
        </processor>
      </translate.shoppingCartItemToEntity>

      <commerce.carts.getCarts>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.GetCarts, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Carts.GetCarts, Sitecore.Commerce.Connect.DynamicsRetail"/>
      </commerce.carts.getCarts>

      <commerce.carts.loadCart>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.LoadCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunTotalPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Carts.LoadCart, Sitecore.Commerce.Connect.DynamicsRetail" />         
      </commerce.carts.loadCart>

      <commerce.carts.saveCart>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.SaveCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Carts.SaveCart, Sitecore.Commerce.Connect.DynamicsRetail" />
      </commerce.carts.saveCart>

	  <commerce.carts.addCartLines>
         <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.AddLinesToCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunTotalPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.AddLinesToCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor patch:before="processor[@type='Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.UpdateCartLinePrice, Sitecore.Commerce.Connect.CommerceServer']" type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Carts.AddLinesToCart, Sitecore.Commerce.Connect.DynamicsRetail">
		  <param ref="eaPlanProvider"/>
          <param ref="eaStateCartRepository"/>
        </processor>
      </commerce.carts.addCartLines>

	  
	  <!-- <commerce.carts.addCartLines>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.AddLinesToCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunTotalPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.AddLinesToCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce']"
                   type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Carts.AddLinesToCart, Sitecore.Commerce.Connect.DynamicsRetail">
          <param ref="eaPlanProvider"/>
          <param ref="eaStateCartRepository"/>
          <param desc="DisableEaPlan">False</param>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.UpdateCartLinePrice, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.carts.addCartLines>	-->  
	  

      <commerce.carts.removeCartLines>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RemoveLinesFromCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer" >
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.UpdateVisitorInEAPlan, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Carts.RemoveCartLines, Sitecore.Commerce.Connect.DynamicsRetail"/>
      </commerce.carts.removeCartLines>

      <commerce.carts.updateCartLines>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.UpdateLinesOnCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunTotalPipeline, Sitecore.Commerce.Connect.CommerceServer" >
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer" >
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.UpdateVisitorInEAPlan, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Carts.UpdateCartLines, Sitecore.Commerce.Connect.DynamicsRetail"/>
      </commerce.carts.updateCartLines>

      <commerce.carts.deleteCart>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.DeleteCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.DeleteCart.DeleteCartFromEaState, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.TriggerCartPageEvent, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Carts.DeleteCart, Sitecore.Commerce.Connect.DynamicsRetail"/>
      </commerce.carts.deleteCart>

      <commerce.carts.mergeCart>
        <processor type="Sitecore.Commerce.Pipelines.Carts.MergeCart.MergeCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.MergeCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Carts.MergeCart, Sitecore.Commerce.Connect.DynamicsRetail"/>
      </commerce.carts.mergeCart>

      <commerce.carts.addPromoCode>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.AddPromoCodeToCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunTotalPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Carts.AddPromoCodeToCart, Sitecore.Commerce.Connect.DynamicsRetail"/>
      </commerce.carts.addPromoCode>

      <commerce.carts.removePromoCode>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RemovePromoCodeFromCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunTotalPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Carts.RemovePromoCodeFromCart, Sitecore.Commerce.Connect.DynamicsRetail"/>
      </commerce.carts.removePromoCode>

      <commerce.carts.lockCart>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.LockCart.LockCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.LockCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.TriggerCartPageEvent, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Carts.LockCart, Sitecore.Commerce.Connect.DynamicsRetail"/>
      </commerce.carts.lockCart>

      <commerce.carts.unlockCart>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.UnlockCart.UnlockCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.UnlockCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.TriggerCartPageEvent, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Carts.UnlockCart, Sitecore.Commerce.Connect.DynamicsRetail"/>
      </commerce.carts.unlockCart>

      <commerce.carts.updateCart>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.UpdateCart.UpdateCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.UpdateCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.UpdateCart.TriggerCartUpdatedPageEvent, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.UpdateVisitorInEAPlan, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Carts.UpdateCart, Sitecore.Commerce.Connect.DynamicsRetail"/>
      </commerce.carts.updateCart>

      <commerce.carts.addParties>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.AddPartiesToCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.UpdateVisitorInEAPlan, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Carts.AddPartiesToCart, Sitecore.Commerce.Connect.DynamicsRetail" />
      </commerce.carts.addParties>

      <commerce.carts.removeParties>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RemovePartiesFromCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.UpdateVisitorInEAPlan, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Carts.RemovePartiesFromCart, Sitecore.Commerce.Connect.DynamicsRetail" />
      </commerce.carts.removeParties>

      <commerce.carts.updateParties>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.UpdatePartiesInCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.UpdateVisitorInEAPlan, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Carts.UpdatePartiesInCart, Sitecore.Commerce.Connect.DynamicsRetail" />
      </commerce.carts.updateParties>

      <commerce.carts.addShippingInfo>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.CheckIfLocked, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.ResolveBasket, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.AddShippingInfoToCart, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.RunTotalPipeline, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Carts.Common.RunSaveCart, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.Carts.Common.UpdateVisitorInEAPlan, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Carts.AddShippingInfoToCart, Sitecore.Commerce.Connect.DynamicsRetail">
          <param ref="entityFactory" />
        </processor>
      </commerce.carts.addShippingInfo>
    </pipelines>
  </sitecore>
</configuration>
