<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <translate.availableQuantityToStockInformation>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Inventory.TranslateListingAvailableQuantityToEntity, Sitecore.Commerce.Connect.DynamicsRetail">
          <param ref="entityFactory" />
        </processor>
      </translate.availableQuantityToStockInformation>
      
      <commerce.inventory.getStockInformation>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Inventory.GetStockInformation, Sitecore.Commerce.Connect.DynamicsRetail">          
          <param desc="InventoryCacheTimeout">1</param>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Inventory.Pipelines.GetStockInformation, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
      </commerce.inventory.getStockInformation>

      <commerce.inventory.stockStatusForIndexing>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Inventory.Pipelines.StockStatusForIndexing, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>       
      </commerce.inventory.stockStatusForIndexing>
    </pipelines>
  </sitecore>
</configuration>
