<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <translate.giftCardToEntity>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.GiftCards.TranslateGiftCardToEntity, Sitecore.Commerce.Connect.DynamicsRetail">
          <param ref="entityFactory" />
        </processor>
      </translate.giftCardToEntity>

      <commerce.giftCards.getGiftCard>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.GiftCards.GetGiftCard, Sitecore.Commerce.Connect.DynamicsRetail" />
      </commerce.giftCards.getGiftCard>
    </pipelines>
  </sitecore>
</configuration>
