<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="retailConfiguration" type="Sitecore.Foundation.Commerce.Configuration.RetailConfiguration, Sitecore.Foundation.Commerce, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />  \
  </configSections>
  <retailConfiguration>
    <identityProviders>
      <add name="Google" issuer="https://accounts.google.com" clientId="1056461187177-1v617pmmib7h2b7qet9ulqga9qcv27v5.apps.googleusercontent.com" clientSecret="1KU3AFoFlO7kMcnjEJTk2r1L" redirectUrl="http://retail.dev.local/OauthV2Redirect" providerType="OpenIdConnect" logOffUrl="https://accounts.google.com/logout" imageUrl="/sitecore/media library/Retail/Identity Providers/Google" />
      <add name="Facebook" issuer="https://ax7storefront-facebook.accesscontrol.windows.net/" redirectUrl="http://retail.dev.local/AcsRedirect" providerType="ACS" imageUrl="/sitecore/media library/Retail/Identity Providers/Facebook" />
      <add name="Microsoft" issuer="https://ax7storefront-windowslive.accesscontrol.windows.net/" redirectUrl="http://retail.dev.local/AcsRedirect" providerType="ACS" imageUrl="/sitecore/media library/Retail/Identity Providers/Microsoft" />
      <add name="IdentityProvider" issuer="https://scd36571up56c11c12fb89a5faaaos.cloudax.dynamics.com:5000/core" clientId="storefront.retail" clientSecret="secret" redirectUrl="https://retail.dev.local/OauthV2Redirect" providerType="OpenIdConnect" logOffUrl="https://scd36571up56c11c12fb89a5faaaos.cloudax.dynamics.com:5000/core/logout" imageUrl="/sitecore/media library/Retail/Identity Providers/Google" />
    </identityProviders>
  </retailConfiguration>
  <appSettings>
    <add key="RetailServerRoot" value="https://saxqad365up8397e33560c2ccefdret.cloudax.dynamics.com/Commerce" />
    <add key="RetailServerMaxPageSize" value="1000" />
    <add key="StoreFront_ShoppingCartExpiryTerm" value="3" />
  </appSettings>
</configuration>