<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <commerce.shipping.getShippingOptions>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Shipping.GetShippingOptions, Sitecore.Commerce.Connect.DynamicsRetail">
          <param ref="entityFactory" />
        </processor>
      </commerce.shipping.getShippingOptions>

      <commerce.shipping.getShippingMethods>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.GetShippingMethods, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Shipping.GetShippingMethods, Sitecore.Commerce.Connect.DynamicsRetail">
          <param ref="entityFactory" />
        </processor>
      </commerce.shipping.getShippingMethods>
    </pipelines>
  </sitecore>
</configuration>