<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commerce.Entities>
      <Store type="Sitecore.Commerce.Connect.DynamicsRetail.Entities.Stores.Store, Sitecore.Commerce.Connect.DynamicsRetail" />
      <StoreAvailability type="Sitecore.Commerce.Connect.DynamicsRetail.Entities.Stores.StoreAvailability, Sitecore.Commerce.Connect.DynamicsRetail" />
    </commerce.Entities>

    <storeServiceProvider type="Sitecore.Commerce.Connect.DynamicsRetail.Services.Stores.StoreServiceProvider, Sitecore.Commerce.Connect.DynamicsRetail" singleInstance="true" />

    <pipelines>
      <translate.storeToEntity>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Stores.TranslateStoreToEntity, Sitecore.Commerce.Connect.DynamicsRetail">
          <param ref="entityFactory" />
        </processor>
      </translate.storeToEntity>

      <translate.storeAvailabilityToEntity>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Stores.TranslateStoreAvailabilityToEntity, Sitecore.Commerce.Connect.DynamicsRetail">
          <param ref="entityFactory" />
        </processor>
      </translate.storeAvailabilityToEntity>

      <translate.entityToStoreAvailability>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Stores.TranslateEntityToStoreAvailability, Sitecore.Commerce.Connect.DynamicsRetail"/>
      </translate.entityToStoreAvailability>

      <commerce.stores.getNearbyStores>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Stores.GetNearbyStores, Sitecore.Commerce.Connect.DynamicsRetail" />
      </commerce.stores.getNearbyStores>

      <commerce.stores.getNearbyStoresWithAvailability>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Stores.GetNearbyStoresWithAvailability, Sitecore.Commerce.Connect.DynamicsRetail" />
      </commerce.stores.getNearbyStoresWithAvailability>
    </pipelines>
  </sitecore>
</configuration>
