<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <translate.tokenizedCardAddressToEntity>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Payments.TranslateTokenizedCardAddressToEntity, Sitecore.Commerce.Connect.DynamicsRetail">
          <param ref="entityFactory" />
        </processor>
      </translate.tokenizedCardAddressToEntity>      
      
      <commerce.payments.getPaymentOptions>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Payments.GetPaymentOptions, Sitecore.Commerce.Connect.DynamicsRetail">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Payments.GetPaymentOptions, Sitecore.Commerce.Connect.DynamicsRetail">
          <param ref="entityFactory"/>
        </processor>
      </commerce.payments.getPaymentOptions>

      <commerce.payments.getPaymentMethods>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Orders.Pipelines.GetPaymentMethods, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Payments.GetPaymentMethods, Sitecore.Commerce.Connect.DynamicsRetail">
          <param ref="entityFactory"/>
        </processor>
      </commerce.payments.getPaymentMethods>
      
      <commerce.payments.getPaymentServiceUrl>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Payments.GetPaymentServiceUrl, Sitecore.Commerce.Connect.DynamicsRetail">
          <param ref="entityFactory"/>
        </processor>
      </commerce.payments.getPaymentServiceUrl>

      <commerce.payments.getPaymentServiceActionResult>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Payments.GetPaymentServiceActionResult, Sitecore.Commerce.Connect.DynamicsRetail">
          <param ref="entityFactory"/>
        </processor>
      </commerce.payments.getPaymentServiceActionResult>
    </pipelines>

  </sitecore>
</configuration>