<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sitecoreUserRepository>
      <patch:attribute name="type">Sitecore.Commerce.Connect.DynamicsRetail.Data.Customers.DynamicsUserRepository, Sitecore.Commerce.Connect.DynamicsRetail</patch:attribute>
    </sitecoreUserRepository>

    <pipelines>
      <translate.customerToUserEntity>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.TranslateCustomerToUserEntity, Sitecore.Commerce.Connect.DynamicsRetail">
          <param ref="entityFactory" />
        </processor>
      </translate.customerToUserEntity>

      <translate.customerToCustomerEntity>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.TranslateCustomerToCustomerEntity, Sitecore.Commerce.Connect.DynamicsRetail">
          <param ref="entityFactory" />
        </processor>
      </translate.customerToCustomerEntity>

      <translate.addressToEntity>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.TranslateAddressToEntity, Sitecore.Commerce.Connect.DynamicsRetail">
          <param ref="entityFactory" />
        </processor>
      </translate.addressToEntity>

      <translate.userEntityToCustomer>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.TranslateUserEntityToCustomer, Sitecore.Commerce.Connect.DynamicsRetail"/>
      </translate.userEntityToCustomer>

      <translate.customerEntityToCustomer>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.TranslateCustomerEntityToCustomer, Sitecore.Commerce.Connect.DynamicsRetail"/>
      </translate.customerEntityToCustomer>

      <translate.entityToAddress>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.TranslateEntityToAddress, Sitecore.Commerce.Connect.DynamicsRetail"/>
      </translate.entityToAddress>

      <commerce.customers.createUser>
        <processor type="Sitecore.Commerce.Pipelines.Customers.CreateUser.CreateUserInExternalSystem, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Pipelines.PopulateContactBasicFacetsProcessor, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.PopulateContactBasicFacets, Sitecore.Commerce.Connect.DynamicsRetail"
                   patch:after="processor[@type='Sitecore.Commerce.Pipelines.Customers.CreateContact.CreateContactInXDb, Sitecore.Commerce']">
          <param ref="sitecoreUserRepository"/>
          <param ref="entityFactory"/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.CreateUser.CreateUserInSitecore, Sitecore.Commerce">
          <patch:attribute name="type">Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.CreateDynamicsUserInSitecore, Sitecore.Commerce.Connect.DynamicsRetail</patch:attribute>
        </processor>
        <processor patch:before="processor[@type='Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.CreateDynamicsUserInSitecore, Sitecore.Commerce.Connect.DynamicsRetail']"
                   type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.CreateUser, Sitecore.Commerce.Connect.DynamicsRetail">
          <param ref="sitecoreUserRepository"/>
        </processor>
      </commerce.customers.createUser>

      <commerce.customers.getUser>
        <processor type="Sitecore.Commerce.Pipelines.Customers.GetUser.GetUserFromSitecore, Sitecore.Commerce">
          <patch:attribute name="type">Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.GetUser, Sitecore.Commerce.Connect.DynamicsRetail</patch:attribute>
        </processor>
      </commerce.customers.getUser>

      <commerce.customers.updateUser>
        <processor type="Sitecore.Commerce.Pipelines.Customers.UpdateUser.UpdateUserInExternalSystem, Sitecore.Commerce">
          <patch:attribute name="type">Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.UpdateUser, Sitecore.Commerce.Connect.DynamicsRetail</patch:attribute>
        </processor>
      </commerce.customers.updateUser>

      <commerce.customers.deleteUser>
        <processor type="Sitecore.Commerce.Pipelines.Customers.DeleteUser.DeleteUserInExternalSystem, Sitecore.Commerce">
          <patch:attribute name="type">Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.DeleteUser, Sitecore.Commerce.Connect.DynamicsRetail</patch:attribute>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.DeleteUser.DeleteUserInSitecore, Sitecore.Commerce" >
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.Common.TriggerUserPageEvent, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.customers.deleteUser>

      <commerce.customers.disableUser>
        <processor type="Sitecore.Commerce.Pipelines.Customers.DisableUser.DisableUserInExternalSystem, Sitecore.Commerce">
          <patch:attribute name="type">Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.DisableUser, Sitecore.Commerce.Connect.DynamicsRetail</patch:attribute>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.DisableUser.DisableUserInSitecore, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.Common.TriggerUserPageEvent, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.customers.disableUser>

      <commerce.customers.enableUser>
        <processor type="Sitecore.Commerce.Pipelines.Customers.EnableUser.EnableUserInExternalSystem, Sitecore.Commerce">
          <patch:attribute name="type">Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.EnableUser, Sitecore.Commerce.Connect.DynamicsRetail</patch:attribute>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.EnableUser.EnableUserInSitecore, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.Common.TriggerUserPageEvent, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.customers.enableUser>

      <commerce.customers.getCustomer>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Pipelines.Processors.Customers.GetCustomer, Sitecore.Commerce.Connect.CommerceServer">
          <patch:attribute name="type">Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.GetCustomer, Sitecore.Commerce.Connect.DynamicsRetail</patch:attribute>
        </processor>
      </commerce.customers.getCustomer>

      <commerce.customers.updateCustomer>
        <processor type="Sitecore.Commerce.Pipelines.Customers.UpdateCustomer.UpdateCustomerInExternalSystem, Sitecore.Commerce">
          <patch:attribute name="type">Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.UpdateCustomer, Sitecore.Commerce.Connect.DynamicsRetail</patch:attribute>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.UpdateCustomer.UpdateCustomerInEaState, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.customers.updateCustomer>

      <commerce.customers.deleteCustomer>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Pipelines.Processors.Customers.DeleteCustomer, Sitecore.Commerce.Connect.CommerceServer">
          <patch:attribute name="type">Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.DeleteCustomer, Sitecore.Commerce.Connect.DynamicsRetail</patch:attribute>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.DeleteCustomer.DeleteCustomerFromSitecore, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.Common.TriggerCustomerPageEvent, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.customers.deleteCustomer>

      <commerce.customers.disableCustomer>
        <processor type="Sitecore.Commerce.Pipelines.Customers.DisableCustomer.DisableCustomerInExternalSystem, Sitecore.Commerce">
          <patch:attribute name="type">Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.DisableCustomer, Sitecore.Commerce.Connect.DynamicsRetail</patch:attribute>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.DisableCustomer.DisableCustomerInSitecore, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.Common.TriggerCustomerPageEvent, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.customers.disableCustomer>

      <commerce.customers.enableCustomer>
        <processor type="Sitecore.Commerce.Pipelines.Customers.EnableCustomer.EnableCustomerInExternalSystem, Sitecore.Commerce">
          <patch:attribute name="type">Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.EnableCustomer, Sitecore.Commerce.Connect.DynamicsRetail</patch:attribute>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.EnableCustomer.EnableCustomerInSitecore, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.Common.TriggerCustomerPageEvent, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.customers.enableCustomer>

      <commerce.customers.addCustomers>
        <processor type="Sitecore.Commerce.Pipelines.Customers.AddCustomersToExternalSystem, Sitecore.Commerce">
          <patch:attribute name="type">Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.AddCustomers, Sitecore.Commerce.Connect.DynamicsRetail</patch:attribute>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.AddCustomersToSitecore, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.customers.addCustomers>

      <commerce.customers.removeCustomers>
        <processor type="Sitecore.Commerce.Pipelines.Customers.RemoveCustomersFromExternalSystem, Sitecore.Commerce">
          <patch:attribute name="type">Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.RemoveCustomers, Sitecore.Commerce.Connect.DynamicsRetail</patch:attribute>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.RemoveCustomersFromSitecore, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.customers.removeCustomers>

      <commerce.customers.addUsers>
        <processor type="Sitecore.Commerce.Pipelines.Customers.AddUsersToExternalSystem, Sitecore.Commerce">
          <patch:attribute name="type">Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.AddUsers, Sitecore.Commerce.Connect.DynamicsRetail</patch:attribute>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.AddUsersToSitecore, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.customers.addUsers>

      <commerce.customers.removeUsers>
        <processor type="Sitecore.Commerce.Pipelines.Customers.RemoveUsersFromExternalSystem, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.RemoveUsersFromSitecore, Sitecore.Commerce">
          <patch:delete/>
        </processor>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.RemoveUsers, Sitecore.Commerce.Connect.DynamicsRetail"/>
      </commerce.customers.removeUsers>

      <commerce.customers.addParties>
        <processor type="Sitecore.Commerce.Pipelines.Customers.AddPartiesToExternalSystem, Sitecore.Commerce">
          <patch:attribute name="type">Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.AddParties, Sitecore.Commerce.Connect.DynamicsRetail</patch:attribute>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.AddPartiesToSitecore, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.customers.addParties>

      <commerce.customers.removeParties>
        <processor type="Sitecore.Commerce.Pipelines.Customers.RemovePartiesFromExternalSystem, Sitecore.Commerce">
          <patch:attribute name="type">Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.RemoveParties, Sitecore.Commerce.Connect.DynamicsRetail</patch:attribute>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.RemovePartiesFromSitecore, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.customers.removeParties>

      <commerce.customers.getParties>
        <processor type="Sitecore.Commerce.Pipelines.Customers.GetPartiesFromExternalSystem, Sitecore.Commerce">
          <patch:attribute name="type">Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.GetParties, Sitecore.Commerce.Connect.DynamicsRetail</patch:attribute>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.GetPartiesFromSitecore, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.customers.getParties>

      <commerce.customers.updateParties>
        <processor type="Sitecore.Commerce.Pipelines.Customers.UpdatePartiesInExternalSystem, Sitecore.Commerce">
          <patch:attribute name="type">Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.Customers.UpdateParties, Sitecore.Commerce.Connect.DynamicsRetail</patch:attribute>
        </processor>
        <processor type="Sitecore.Commerce.Pipelines.Customers.UpdatePartiesInSitecore, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.customers.updateParties>
    </pipelines>
  </sitecore>
</configuration>