<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <switchingProviders>
      <profile>
        <provider providerName="cs" storeFullNames="true" wildcard="%" domains="CommerceUsers">
          <patch:delete />
        </provider>
        <provider patch:after="*[@providerName='sql']" providerName="ax" storeFullNames="true" wildcard="%" domains="CommerceUsers"/>
      </profile>
    </switchingProviders>
    
    <pipelines>
      <GetProfile>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Pipelines.GetProfileProcessor, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
      </GetProfile>

      <GetProfiles>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Pipelines.GetProfilesProcessor, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
      </GetProfiles>

      <CreateProfile>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Pipelines.CreateProfileProcessor, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
      </CreateProfile>

      <DeleteProfile>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Pipelines.DeleteProfileProcessor, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
      </DeleteProfile>
      
      <DeleteInactiveUserProfiles>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Pipelines.DeleteInactiveUserProfilesProcessor, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
      </DeleteInactiveUserProfiles>

      <ProfileToCommerceModel>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Pipelines.ProfileToCommerceModel, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
      </ProfileToCommerceModel>

      <GetProfileDefinitions>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Pipelines.GetProfileDefinitionsProcessor, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
      </GetProfileDefinitions>

      <GetProfileDefinition>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Pipelines.GetProfileDefinitionProcessor, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
      </GetProfileDefinition>
      
      <GetUserProfiles>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Pipelines.GetUserProfilesProcessor, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
      </GetUserProfiles>

      <GetProfilesFromField>
        <processor type="Sitecore.Commerce.Connect.CommerceServer.Profiles.Pipelines.GetProfilesFromFieldProcessor, Sitecore.Commerce.Connect.CommerceServer">
          <patch:delete/>
        </processor>
      </GetProfilesFromField>
    </pipelines>
  </sitecore>
</configuration>
