<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commerce.Entities>
      <LoyaltyCard>
        <patch:attribute name="type">Sitecore.Commerce.Connect.DynamicsRetail.Entities.LoyaltyPrograms.LoyaltyCard, Sitecore.Commerce.Connect.DynamicsRetail</patch:attribute>
      </LoyaltyCard>
      <LoyaltyRewardPoint>
        <patch:attribute name="type">Sitecore.Commerce.Connect.DynamicsRetail.Entities.LoyaltyPrograms.LoyaltyRewardPoint, Sitecore.Commerce.Connect.DynamicsRetail</patch:attribute>
      </LoyaltyRewardPoint>
      <LoyaltyCardTenderType type="Sitecore.Commerce.Connect.DynamicsRetail.Entities.LoyaltyPrograms.LoyaltyCardTenderType, Sitecore.Commerce.Connect.DynamicsRetail"/>
    </commerce.Entities>

    <loyaltyProgramServiceProvider singleInstance="true">
      <patch:attribute name="type">Sitecore.Commerce.Connect.DynamicsRetail.Services.LoyaltyPrograms.LoyaltyCardServiceProvider, Sitecore.Commerce.Connect.DynamicsRetail</patch:attribute>
    </loyaltyProgramServiceProvider>

    <pipelines>
      <translate.loyaltyCardToEntity>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.LoyaltyPrograms.TranslateLoyaltyCardToEntity, Sitecore.Commerce.Connect.DynamicsRetail">
          <param ref="entityFactory" />
        </processor>
      </translate.loyaltyCardToEntity>

      <translate.entityToLoyaltyCard>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.LoyaltyPrograms.TranslateEntityToLoyaltyCard, Sitecore.Commerce.Connect.DynamicsRetail"/>
      </translate.entityToLoyaltyCard>

      <translate.loyaltyCardTransactionToEntity>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.LoyaltyPrograms.TranslateLoyaltyCardTransactionToEntity, Sitecore.Commerce.Connect.DynamicsRetail">
          <param ref="entityFactory" />
        </processor>
      </translate.loyaltyCardTransactionToEntity>

      <commerce.loyaltyPrograms.joinLoyaltyProgram>
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.LoyaltyPrograms.JoinLoyaltyProgram.TriggerLoyaltyProgramJoinedGoal, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.LoyaltyPrograms.JoinLoyaltyProgram, Sitecore.Commerce.Connect.DynamicsRetail">
          <param ref="entityFactory" />
        </processor>
      </commerce.loyaltyPrograms.joinLoyaltyProgram>

      <commerce.loyaltyPrograms.getLoyaltyCards>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.LoyaltyPrograms.GetLoyaltyCards, Sitecore.Commerce.Connect.DynamicsRetail" />
      </commerce.loyaltyPrograms.getLoyaltyCards>

      <commerce.loyaltyPrograms.getLoyaltyCardTransactions>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.LoyaltyPrograms.GetLoyaltyCardTransactions, Sitecore.Commerce.Connect.DynamicsRetail" />
      </commerce.loyaltyPrograms.getLoyaltyCardTransactions>

      <commerce.loyaltyPrograms.updateLoyaltyCardIdInCart>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.LoyaltyPrograms.UpdateLoyaltyCardIdInCart, Sitecore.Commerce.Connect.DynamicsRetail" />
      </commerce.loyaltyPrograms.updateLoyaltyCardIdInCart>
    </pipelines>
  </sitecore>
</configuration>
