<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <translate.wishListToEntity>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.WishLists.TranslateWishListToEntity, Sitecore.Commerce.Connect.DynamicsRetail">
          <param ref="entityFactory" />
        </processor>
      </translate.wishListToEntity>

      <translate.entityToWishList>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.WishLists.TranslateEntityToWishList, Sitecore.Commerce.Connect.DynamicsRetail"/>
      </translate.entityToWishList>

      <translate.wishListLineToEntity>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.WishLists.TranslateWishListLineToEntity, Sitecore.Commerce.Connect.DynamicsRetail">
          <param ref="entityFactory" />
        </processor>
      </translate.wishListLineToEntity>

      <translate.entityToWishListLine>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.WishLists.TranslateEntityToWishListLine, Sitecore.Commerce.Connect.DynamicsRetail"/>
      </translate.entityToWishListLine>

      <commerce.wishLists.addLinesToWishList>
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.WishLists.AddLinesToWishList.TriggerLinesAddedToWishListPageEvent, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.WishLists.AddLinesToWishList, Sitecore.Commerce.Connect.DynamicsRetail" />
      </commerce.wishLists.addLinesToWishList>

      <commerce.wishLists.createWishList>
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.WishLists.CreateWishList.TriggerWishListCreatedPageEvent, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.WishLists.CreateWishList, Sitecore.Commerce.Connect.DynamicsRetail" />
        <processor type="Sitecore.Commerce.Pipelines.WishLists.CreateWishList.AddVisitorToEaPlan, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.wishLists.createWishList>

      <commerce.wishLists.deleteWishList>
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.WishLists.DeleteWishList.TriggerWishListDeletedPageEvent, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.WishLists.DeleteWishList, Sitecore.Commerce.Connect.DynamicsRetail" />
      </commerce.wishLists.deleteWishList>

      <commerce.wishLists.getWishList>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.WishLists.GetWishList, Sitecore.Commerce.Connect.DynamicsRetail" />
      </commerce.wishLists.getWishList>

      <commerce.wishLists.getWishLists>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.WishLists.GetWishLists, Sitecore.Commerce.Connect.DynamicsRetail" />
      </commerce.wishLists.getWishLists>

      <commerce.wishLists.updateWishList>
        <processor type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.WishLists.UpdateWishList, Sitecore.Commerce.Connect.DynamicsRetail" />
      </commerce.wishLists.updateWishList>

      <commerce.wishLists.updateWishListLines>
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.WishLists.UpdateWishListLines.TriggerLinesUpdatedOnWishListPageEvent, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.WishLists.UpdateWishListLines, Sitecore.Commerce.Connect.DynamicsRetail" />
      </commerce.wishLists.updateWishListLines>

      <commerce.wishLists.removeWishListLines>
        <processor patch:before="processor[@type='Sitecore.Commerce.Pipelines.WishLists.RemoveWishListLines.TriggerLinesRemovedFromWishListPageEvent, Sitecore.Commerce']" type="Sitecore.Commerce.Connect.DynamicsRetail.Pipelines.WishLists.RemoveWishListLines, Sitecore.Commerce.Connect.DynamicsRetail" />
      </commerce.wishLists.removeWishListLines>
    </pipelines>
  </sitecore>
</configuration>